$primary-font-color: #333333;
$primary-title-font-color:#ffffff;
$primary-application-color: #95A859;
$primary-application-color-transperent: rgba(149,168,89, 0.3);

$transperent-grey-background-03:rgba(0, 0, 0, 0.3);
$transperent-grey-background-04:rgba(0, 0, 0, 0.4);