@font-face {
    font-family: "Open_Sans_Condensed";
    src: url("../src/assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open_Sans_Condensed", sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body,
html {
    height: 100%;
    min-height: 100%;
}